
.contract-date-limit {
    .form .imitate-datetimepicker-input .form-control {
        width: 140px;
    }
}

.rental-form-wrapper .rent-info .sketch-list,
.lease-form-wrapper .rent-info .paystages {
    .item {
        .operate {
            .delete {
                @include opacity(50);
                -webkit-filter: grayscale(1);
            }

        }

    }

    .item.last-item {
        .operate {
            .delete {
                @include opacity(100);
                -webkit-filter: grayscale(0);
            }

        }

    }

}

.bill-form-wrapper {
    .accounts {
        width: 360px;
        border: 1px solid #e0e0e0;
        padding: 10px 0;
        margin-top: 10px;
        border-radius: 4px;

        .add-other-account {
            text-decoration: none;
            margin: 10px 10px 0;
            cursor: pointer;
        }

        img {
            width: 28px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            max-height: 150px;
            overflow: scroll;
        }

        li {
            padding: 5px 15px;

            &:nth-child(2n) {
                background-color: #fff;
            }

            &:nth-child(2n+1) {
                background-color: #f4f4f4;
            }

        }

    }

}

.time-line {
    .point-status {
        text-align: center;

        h4 {
            font-size: 16px;
            color: #666;
            white-space: nowrap;
        }

        h5 {
            color: #666;
            white-space: nowrap;
        }

        .point {
            background-color: #e3e7ed;
            border-radius: 20px;
            border: 2px solid #fff;

            &.point-big {
                width: 42px;
                height: 42px;
                margin: 0 auto;
                display: block;
            }

            &.point-dashed {
                width: 34px;
                height: 34px;
                border: 2px dashed #8ac066;
            }

            &.point-small {
                width: 30px;
                height: 30px;
                position: absolute;
                left: 50%;
                margin-top: -17px;
                margin-left: -15px;

                &.point-green {
                    background: #8ac066;
                }

                &.point-dashed-green {
                    background: #fff;

                    &:after {
                        content: "";
                        width: 26px;
                        height: 26px;
                        border-radius: 20px;
                        border: 1px dashed #8ac066;
                        position: absolute;
                        left: 50%;
                        margin-left: -13px;
                        margin-top: 1px;
                    }

                }

            }

        }

        &.startpoint{
            margin-top: -15px;
        }

    }

    .time-line-axis {
        width: 3px;
        margin: 0 auto;
        position: relative;
        margin-top: -12px;

        .status-line{
            &.dashed-line {
                border-left: 3px dashed #e3e7ed;
                height: 60px;
            }

            &.solid-line {
                background: #e3e7ed;
        
                &.solid-line-green {
                    background: #8ac066;
                }

            }
            
        }

        .status-note{
            .status-left {
                position: absolute;
                width: 135px;
                left: -180px;
                text-align: right;
                margin-top: -20px;
            }

            .status-right {
                position: absolute;
                width: 135px;
                left: 45px;
                text-align: left;
                margin-top: -20px;
            }

            .status-detail {
                position: absolute;
                border-radius: 10px;
                padding: 5px 20px;

                h4 {
                    color: #fff;
                }

                &:after {
                    content: "";
                    width: 26px;
                    height: 26px;
                    @include rotate(45deg);
                    position: absolute;
                    top: 50%;
                    margin-top: -13px;
                }

                &:before {
                    content:"";
                    width: 100px;
                    height: 200px;
                    display: block;
                }

                &.status-detail-left {
                    right: 50px;
                    text-align: right;
                    margin-top: -23px;

                    &:after {
                        right: -9px;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        opacity: 0;
                        width: 205px;
                        left: 57px;
                        height: 130%;
                        top: 0;
                    }

                }

                &.status-detail-green {
                    background: #8ac066;
                    
                    &:after {
                        background: #8ac066;
                    }

                }

                &.status-detail-gray {
                    background: #e3e7ed;
                    display: none;
                    h4 {
                        color: #666;
                    }

                    &:after {
                        background: #e3e7ed;
                    }


                }

                &.status-detail-right {
                    left: 50px;
                    text-align: left;
                    margin-top: -39px;

                    &:after {
                        left: -9px;
                    }

                    &:before {
                       content: '';
                       position: absolute;
                       opacity: 0;
                       width: 235px;
                       left: -64px;
                       height: 107%;
                       top: 0;
                    }

                }
            }
        }

    }

    .font-bold {
        font-weight: bold;
    }

}

.rental-rate{
    position:absolute;
    right: 0;

    .orange-block{
        width: 15px;
        height: 15px;
        background-color: #ff8400;
        display: block;
        float: left;
        margin: 12px 16px;
    }

    .rental-note{
        overflow: hidden;
        .note-title{
            color: #333;
            span{
                color: #ff8400;
            }
        }
        .note-expl{
            color: #999;
        }
    }

}

.leasing-list-wrapper {
    .dropbtns {
        margin-left: 10px;

        .btn {
            margin-left: auto;
        }
    }

    .bd{
        position:relative;
    }

    .leasing-content {
        width: 100%;

        .leasing-tab {
            border-bottom: 1px solid #436ba7;
            margin-top: 30px;
            padding-left: 15px;

            .tab-menu-title {
                padding-left: 0;
                color: #333;
                font-weight: bold;

            }

            .tab-menu-option{
                cursor: pointer;
            }

            .tab-menu-item {
                &.z-active {
                    background: #436ba7;
                    border-radius: 5px 5px 0 0;
                    border-bottom: 1px solid #436ba7;
                    color: #fff;

                }

            }

        }

    }
}
