/*
* app.css
*/



/*网站基本样式*/
/* ================================================== */
body {
    font-size: 14px;
    font-family: "Microsoft YaHei", "SimHei", arial;
    background-color: #f4f4f4;
}


/* util */
/* ================================================== */
.list-inline {
    font-size: 0;
}

.list-inline .inline-item {
    display: inline-block;
    font-size: 14px;
    *display: inline;
    *zoom: 1;
}

.web-g-bd {
    position: relative;
    overflow: hidden;
}

.web-g-main {
    overflow: hidden;
    background-color: #f4f4f4;
    position: absolute;
    height: 100%;
    top: 0;
    padding-top: 80px;
    width: 100%;
    box-sizing: border-box;
}

.btn.btn-outline {
    background-color: transparent;
    color: #436ba7;
}

/*响应式类*/
.visiable-sm {
    display: none!important;
}

/* icon */
.icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 24px;
    width: 24px;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    vertical-align: middle;
}

.icon-logo {
    background-position: 0 -5px;
    height: 30px;
    width: 45px;
}

.icon-coffer  {
    background-position: -256px 0;
    height: 135px;
    width: 135px;
}

.icon-web-sub-title {
    width: 110px;
    background-position: -285px -143px;
}

.icon-company {
    background-position: -5px -112px;
    height: 36px;
    width: 36px;
}

.icon-loginout {
    background-position: -9px -81px;
}

.icon-person,
.icon-house,
.icon-rent,
.icon-compact,
.icon-asset-package {
    height: 20px;
    width: 20px;
}

.icon-person {
    background-position: -56px -7px;
}

.z-active .icon-person {
    background-position: -92px -7px;
}

.icon-house {
    background-position: -56px -41px;
}

.z-active .icon-house {
    background-position: -92px -41px;
}

.icon-rent {
    background-position: -56px -78px;
}

.z-active .icon-rent {
    background-position: -92px -78px;
}

.icon-compact {
    background-position: -56px -116px;
}

.z-active .icon-compact {
    background-position: -92px -116px;
}

.icon-asset-package {
    background-position: -56px -150px;
}

.z-active .icon-asset-package {
    background-position: -92px -150px;
}

.icon-expand {
    background-position: 0 -236px;
} 

.z-active .icon-expand {
    background-position: -24px -236px;
}

.icon-help {
    background-position: -1px -261px;
    height: 17px;
    width: 19px;
}

/* ================ breadcrumb css ================ */
.earth-breadcrumb-wrapper {
  position: relative;
}

.earth-breadcrumb {
  border-bottom: 3px solid #DFDFDF; /* may change here for other color */
  margin-bottom: 15px;
}

.earth-breadcrumb > h2 {
  font-family: "Microsoft YaHei", "微软雅黑", Helvetica, "黑体", Arial, Tahoma;
  line-height: 40px;
  border-bottom: 3px solid #76ACD6;
  float: left;
  font-size: 15px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: -3px;
  padding: 0px 15px;
  color: #222; /* may change here for other color */
}

.earth-breadcrumb > h3 {
  font-family: "Microsoft YaHei", "微软雅黑", Helvetica, "黑体", Arial, Tahoma;
  line-height: 40px;
  border-bottom: 3px solid #FF8111;
  float: left;
  font-size: 14px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: -3px;
  padding: 0px 15px;
  color: #222; /* may change here for other color */
}

.earth-toolbar-wrapper {
  margin: 15px 0px;
  width: 100%;
}


/* 组件 */
/* ================================================== */
/*header*/
.web-g-hd {
    height: 80px;
    line-height: 80px;
    background-color: #fff;
    box-shadow: 0 1px 2px #FAFAFA;
    border-bottom: 1px solid #E7E7E7;
    overflow: hidden;
    position: relative;
    z-index: 9;
}

.web-g-hd .g-lt {
    margin-left: 15px;
}

.web-g-hd .nav-area {
    position: absolute;
    top: 0;
    left: 27%;
}

.web-g-hd .title {
    color: #436ba7;
    font-size: 20px;
    font-weight: bold;
    font-family: "微软雅黑";
}

.web-g-hd .icon-logo,
.web-g-hd .icon-web-sub-title {
    margin-top: -6px;
}

.web-g-hd .menu a{
    font-size: 16px;
    color: #333;
    display: block;
    text-decoration: none;
}

.web-g-hd .menu .menu-item {
    margin: 0 20px;
    line-height: 90px;
    height: 79px;
    position: relative;
}

.web-g-hd .menu .menu-item.z-active {
    border-bottom: 3px solid #436ba7;
}

.web-g-hd .menu .menu-item.z-active:after {
    content: "";
    border: 8px solid #436ba7;
    position: absolute;
    left: 50%;
    bottom: 0;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    margin-left: -8px;
}

.web-g-hd .g-rt .inline-item {
    border-left: 1px solid #E7E7E7;
    padding: 0 25px;
}

.web-g-hd .g-rt a {
    color: #436ba7;
}

.web-g-hd .welcome-box {
    margin-right: 10px;
}

/*footer*/
.web-g-ft {
    padding: 20px;
    font-size: 12px;
    color: #999;
    line-height: normal;
    border-top: 1px solid #E7E7E7;
}

.web-g-ft .abouts {
    margin-bottom: 5px;
}

.web-g-ft .link {
    color: #436ba7;
}

.web-g-ft .copyright {
    margin-bottom: 0;
}

.aside-nav,
.content {
    height: 100%;
    overflow-y: auto;
    position: relative;
    background-color: #fff;
}

.content .scroller {
    overflow-y: auto;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 49px;
}

/*aside*/
.aside-nav {
    background-color: #f4f4f4;
    padding: 40px 0 10px 0;
    width: 185px;
    float: left;
    color: #666;
    border-right: 1px solid #dedede;
}

.aside-nav .menu-item a {
    display: block;
    color: inherit;
    text-decoration: none;
}

.aside-nav .menu-item .menu-link {
    padding-left: 45px;
    position: relative;
}

.aside-nav .sub-menu .sub-menu-item {
    padding-left: 55px;
}

.aside-nav .menu-item.has-submenu .menu-link:before {
    content: "";
    background: url(../images/icons.png) no-repeat;
    background-position:  -2px -157px;
    position: absolute;
    left: 20px;
    top: 9px;
    display: inline-block;
    height: 12px;
    width: 12px;
}

.aside-nav .menu-item.has-submenu.z-active .menu-link:before {
    background-position: -2px -179px;
}

.aside-nav .menu-item {
    line-height: 30px;
    margin: 5px 0;
    list-style: none;
    position: relative;
}

.aside-nav .menu-item.z-active {
    font-weight: bold;
    background-color: #fff;
    border-right: 3px solid #436ba7;
    color: #436ba7;
}

.aside-nav .menu-item.has-submenu.z-active {
    font-weight: normal;
    background-color: transparent;
    border-right: none;
    color: #666;
}

.aside-nav .sub-menu {
    font-size: 12px;
    list-style: none;
    padding-left: 20px;
    color: #436ba7;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: none;
}

.aside-nav .menu-item.z-active .sub-menu {
    height: auto;
    display: block;
}

.aside-nav .menu-item.z-active .sub-menu-item.z-active {
    background-color: #fff;
    border-right: 3px solid #436ba7;
    font-weight: bold;
}


/*content*/
.content > .header {
    margin: 8px 0;
    padding: 0 20px;
}

.content > .header h3 {
    margin: 0;
    color: #333;
    font-family: "黑体";
    font-size: 18px;
    line-height: 36px;
}

.content .search-area .form-control {
    display: inline-block;
    width: 197px;
}

.content .search-area .form-control:focus {
    outline: none;
    box-shadow: none;
    vertical-align: top;
}

.content .search-area  .btn-search {
    width: 95px;
    background-color: #74b033;
    margin-top: -4px;
}

.table-area {
    margin-bottom: 50px;
    margin-top: -1px;
    *zoom: 1;
}

.form-wrap {
  padding: 50px 75px;
}

.form-wrap a {
  color: #436ba7;
}

.table-area:after {
    content: "";
    display: table;
    height: 0;
    clear: both;
}

.data-list {
    width: 100%;
    color: #666;
    background-color: #fff;
    font-size: 12px;
}

.data-list thead {
    background-color: #f5f5f5;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
}

.data-list th {
    color: #999;
    font-weight: normal;
    padding-top: 8px;
    padding-bottom: 8px;
}

.data-list .select-sort-type {
  color: inherit;
  text-decoration: none;
}

.data-list .select-sort-type .sort-arrow {
  height: 13px;
  width: 13px;
}

.data-list .asc .sort-arrow {
  background-position: -2px -199px;
}

.data-list .desc .sort-arrow {
  background-position: -16px -199px;
}

.data-list td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.data-list td,
.data-list th {
    padding-left: 20px;
}

.data-list td a {
  color: #436ba7;
  margin-left: 10px;
}

.data-list td a:first-child {
  margin-left: 0;
}


.data-list .checkbox-cell {
  width: 13px;
}

/*.data-list tr td:first-child:before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 10px;
    height: 2px;
    background-color: #fff;
}*/

.data-list tbody tr {
    border-bottom: 1px solid #f5f5f5;
    line-height: 1.42;
    position: relative;
    background-color: #fff;
}

.data-list > tbody > tr:nth-child(2n) {
    background-color: #f9f9f9;
}

.data-list > tbody > tr:hover {
   background-color: #fffcc7;
}


/* login page */
/* ================================================== */
.login-g-bd,
.login-g-hd .g-bd{
    max-width: 1024px;
    margin: 0 auto;
}

/* header */
.login-g-hd {
    height: 50px;
    line-height: 47px;
}

.login-g-hd .g-rt .divider {
    color: #999;
    font-size: 15px;
    padding: 0;
}

.login-g-hd .sub-title {
    color: #999;
    font-size: 18px;
    margin-left: 5px;
}

/*footer*/
.login-g-ft {
    text-align: center;
    border-top: none;
    background-color: #fff;
}

/*main*/
.login-g-main {
    height: 763px;
}

.login-g-bd .banner .title {
    font-size: 48px;
    line-height: 1.5;
    color: #555;
    margin-top: 145px;
}

.login-g-bd .banner {
    height: 763px;
    position: relative;
}

.login-g-bd .banner .computer {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.login-g-bd .banner .icon-coffer {
    position: absolute;
    left: 500px;
    bottom: 30px;
}

.login-g-bd .login-area {
    position: absolute;
    right: 0;
    top: 78px;
    width: 385px
}

.login-g-bd .login-area .title{
    text-align: center;
    color: #436ba7;
    font-size: 30px;
    margin-bottom: 20px;
}

.login-form {
    background-color: #fff;
    border: 1px solid #E7E7E7;
    padding: 20px 25px;
}

.login-form .field-row {
    margin-top: 15px;
}

.login-form .input-title {
    color: #999;
    font-weight: normal;
    margin-left: 3px;
}

.login-form .field-row:first-child {
    margin-top: 0;
}

.login-form .input-group .form-control {
    border-right-width: 0;
    box-shadow: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    outline: none;
}

.login-form .input-group-addon .icon {
    background-image: none;
    border-radius: 50%;
    background-color: #c7c7c7;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-style: normal;
    color: #fff;
    cursor: default;
}

.login-form .has-error .form-control,
.login-form .has-error .form-control:focus,
.login-form .has-error .input-group-addon {
    border-color: #df7d7d;
}

.login-form .tip {
    background-color: #ffd1d1;
    color: #cb4e47;
    padding: 5px 15px;
    /*line-height: 30px;*/
    display: none;
    margin: 0 5px;
    height: 0;
    white-space: nowrap;
    font-size: 12px;
    overflow: hidden;
    /*-webkit-transition: height .25s ease-out;
    -moz-transition: height .25s ease-out;
    -ms-transition: height .25s ease-out;
    -o-transition: height .25s ease-out;
    transition: height .25s ease-out;*/
}

.login-form .verfiedcode-field .tip {
    width: 173px;
}

.login-form .has-error .tip {
    /*height: auto;*/
    height: auto;
    display: block;
    border: 1px solid #DF7D7D;
    border-top: none;
}

.login-form .form-control:focus {
    border-color: #ccc;
}

.login-form .input-group-addon {
    background-color: transparent;
    padding-left: 8px;
    border-left-width: 0;
    padding-right: 8px;
}

.login-form .verfied-code {
    table-layout: fixed;
}

.login-form .verfied-code .form-control {
    border-right-width: 1px;
    width: 183px;
    border-radius: 2px;
}

.login-form .verfied-code .btn {
    border-radius: 2px;
    width: 143px;
}

.login-form .remember-pwd input[type=checkbox] {
    vertical-align: middle;
    margin-top: -1px;
}

.login-form .btn-login {
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: #436ba7;
    font-size: 18px;
}

.login-form footer {
    text-align: center;
    color: #999;
}

.login-form footer .rightnow-sign {
    color: #436ba7;
    font-size: 18px;
}


/*新版content样式*/
/*=============================================*/
.content > .row {
    margin-left: 0;
}
.content > form {
    margin: 0 20px;
}

/*placeholder*/
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #bbb;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #bbb;
   opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #bbb;
   opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #bbb;
}

/*日期选择器，之后要删*/
.dropdown-menu.datepicker {
  z-index: 9999;
}
.form-control.imitate-datepicker-input {
  margin-top: 0;
  color: #bbb;
  line-height: 1.4;
}
.form-control.imitate-datepicker-input .val {
  color: #bbb;
  width: 100%;
  display: inline-block;
  *zoom: 1;
  height: 19px;
}
.form-control.imitate-datepicker-input.full .val {
  color: #666;
}
.form-control.imitate-datepicker-input .clear {
  position: absolute;
  display: none;
  right: 5px;
  top: 4px;
  padding: 0 4px;
  cursor: pointer;
  z-index: 2;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.form-control.imitate-datepicker-input.full .clear {
  display: initial;
}

/*时间选择器*/
.imitate-datetimepicker-input {
  width: 1px;
}
.imitate-datetimepicker-input.full .glyphicon-remove {
  opacity: 1;
}
.imitate-datetimepicker-input .glyphicon-remove {
  opacity: .3;
}
.imitate-datetimepicker-input .form-control {
  border-right: none;
  box-shadow: none;
  width: 110px;
}
.imitate-datetimepicker-input .form-control:focus {
    border-color: #ccc;
}
.imitate-datetimepicker-input .input-group-addon.invisibility {
  position: absolute; 
  left:0; 
  z-index: -1; 
  opacity: 0;
}
.imitate-datetimepicker-input .form-control,
.imitate-datetimepicker-input .input-group-addon {
  padding: 4px 5px;
  background-color: #fff;
}


/*顶部查询栏*/
.lookup-params {
  font-size: 14px;
  padding: 15px 20px;
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.06), rgba(0,0,0,0.06));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.06), rgba(0,0,0,0.06));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.06), rgba(0,0,0,0.06));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.06), rgba(0,0,0,0.06));
  border-bottom: 1px solid #d1d1d1;
  background-color: #f7f7f7;
}
.lookup-params .title {
  font-size: 18px;
  line-height: 1.6;
}
.lookup-params .item {
  margin: 3px 0;
  margin-right: 10px;
  display: inline-block;
  color: #999;
  vertical-align: middle;
}
.lookup-params .form-control,
.content .operations .btn {
  border-radius: 2px;
  height: 28px;
  vertical-align: middle;
  display: inline-block;
}
.lookup-params .static-txt,
.lookup-params .form-control {
  display: inline-block;
  color: #666;
  position: relative;
}
.lookup-params .form-control {
  width: 127px;
  font-size: 12px;
  border-radius: 4px;
  padding: 4px 5px;
}
.lookup-params .form-control.small {
  width: 95px;
}
.lookup-params label {
  color: #999;
  font-weight: normal;
}
.lookup-params .btn {
  height: 28px;
  font-size: 12px;
  border-radius: 2px;
  min-width: 65px;
  padding: 4px 10px;
  outline: none;
}
.lookup-params .btn .glyphicon {
  font-size: 13px;
  margin-right: 5px;
  margin-top: 1px;
}
.lookup-params .btn.btn-primary {
  background-color: #436ba7;
}
.lookup-params .btn.btn-success {
  background-color: #75b734;
}

.lookup-params .form-control.imitate-datepicker-input {
  line-height: 1.6;
}
.lookup-params .imitate-datetimepicker-input .form-control {
  width: 106px;
  cursor: default;
}
.lookup-params .imitate-datetimepicker-input .form-control.small {
  width: 100px;
}

/*底部操作栏*/
.content .operations {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px 20px;
  border-top: 1px solid #dedede;
  color: #666;
  z-index: 2;
}
.content .operations .btn {
  padding: 0 5px;
  min-width: 95px;
  border: 1px solid #cacaca;
  background-color: #fff;
  outline: none;
}
.content .operations .item:not(:first-child) {
  margin: 0 5px;
  display: inline-block;
}
.content .operations .checkall label {
  margin: 0;
  font-weight: 400;
  margin-right: 25px;
}
.content .operations .checkall input[type=checkbox] {
  margin-right: 5px;
}
.content .operations .page-control {
  line-height: 28px;
}
.content .operations .page-control .tip {
  margin: 0 5px;
  color: #999;
}
.content .operations .page-control a {
  color: #436ba7;
}


@media (max-width: 1094px) {
    .lookup-params .item {
        margin-bottom: 3px;
        margin-top: 3px;
    }
    .visiable-sm {
        display: initial!important;
    }
    .web-g-hd .welcome-box {
        line-height: 1.42;
        margin-top: 20px;
    }
    .web-g-hd .menu .menu-item {
        margin-left: 15px;
        margin-right: 15px;
    }
}


/*cash-flow*/
.data-list-cashflow tbody tr.bill-card-box {
  background-color: #fff;
}
.data-list-cashflow .match-low,
.data-list-cashflow .reconcile-wrong {
  color: #ff8a00;
}
.data-list-cashflow .match-hign,
.data-list-cashflow .reconcile-succ {
  color: #24df1f;
}
.data-list-cashflow .match-fail {
  color: #ff0101;
}


.bill-card {
  overflow: hidden;
  margin-bottom: 20px;
  margin-right: 20px;
}
.bill-card .bill-table thead,
.bill-card .bill-table tr {
  border: none;
}
.bill-card .bill-table thead tr {
  background-color: #f5f5f5;
}
.bill-card .hd,
.bill-card .ft {
  padding-left: 10px;
}

.bill-card .ft {
  line-height: 40px;
  background-color: #f5f5f5;
  margin-top: -1px;
  height: 42px;
  border: 1px solid #dedede;
}
.bill-card .ft .money {
  color: #ff5555;
  margin-right: 15px;
}
.bill-card .ft .submit {
  color: #fff;
  background-color: #75b734;
  min-width: 100px;
  border: none;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}
.bill-card .ft .add-bill {
  font-size: 14px;
  text-decoration: none;
}

.bill-card .hd {
  margin: 15px 0 10px;
  font-size: 14px;
}
.bill-card .hd .icon-help {
  margin-top: -1px;
}

.bill-card .bill-table {
  width: 100%;
  border: none;
}
.bill-card .bill-table td,
.bill-card .bill-table th {
  padding: 8px 10px;
  border-color: #dedede;
}
.bill-card .bill-table td.duizhang-money {
  color: #1c1c1c;
  font-weight: bold;
}
.bill-card .bill-table td input {
  max-width: 120px;
  outline: none;
}



