// 一些小的组件
.badge {
    margin-left: 5px;
    &.badge-dander {
        background-color: $brand-danger;
    }
}

.page-control .redirect-form,
.help-tip {
    border: 1px solid rgb(209, 209, 209);
    background-color: #fff;
    color: #666;
    border-radius: 2px;
    z-index: 9990;

    &:after,
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
    }
    
    &:after {
        border: 8px solid transparent;
        border-top-color: #fff;
        bottom: -16px;
        margin-left: -8px;
    }

    &:before {
        border: 9px solid transparent;
        border-top-color: rgb(209, 209, 209);
        bottom: -18px;
        margin-left: -9px;
    }
}

.page-control {
    line-height: 28px;
    position: relative;

    .redirect-form {
        position: absolute;
        right: -10px;
        top: -60px;
        padding: 10px 20px;
        font-size: 14px;

        &:after,
        &:before {
            left: 89%;
        }

        .page-index,
        .redirect {
            height: 28px;
            width: 48px;
            display: inline-block;
            min-width: auto;
            vertical-align: middle;
        }

        .page-index {
            padding: 4px 5px;
            margin: 0 6px;
        }

        .redirect {
            @include linear-gradient($btn-linear-gradient);
            margin-left: 12px;

            border-radius: 2px;
            padding: 0 5px;
            border: 1px solid #cacaca;
            background-color: #fff;
            outline: none;
        }
    }

    .popup-redirect-form {
        cursor: pointer;
    }

    .total {
        // color: $brand-danger;
        margin: 0 5px;
    }

    .nav {
        margin: 0 10px;
        @include inline-block();
    }

    .tip {
        margin: 0 5px;
        color: #999;
    }

    a:not(.disabled) {
        color: #436ba7;
    }
}

.help-tip {
    padding: 15px;
    font-size: 12px;
    position: relative;
    max-width: 420px;
    word-break: break-all;

    .hd {
        color: #666;
        margin: 0;
        margin-bottom: 8px;
        font-weight: bold;
    }

    p {
        margin: 0;
    }
}


%checkbox-radio {
    position: absolute;
    opacity: 0;
}
%checkbox-radio-txt-before {
    content: '';
    background-image: url($icon-img-url-default);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    margin-right: 5px;
    @include inline-block(false);
}

.check-box + .check-box,
.radio-box + .radio-box {
    margin-left: 20px;
}

.check-box {
    padding: 6px 0;
    margin-bottom: 0;

    input[type=checkbox] {
        @extend %checkbox-radio;

        & + .txt:before {
            @extend %checkbox-radio-txt-before;
            background-position: 9999px 9999px;
            border: 1px solid #e0e0e0;
            background-color: #fff;
        }

        &:checked + .txt:before {
            background-position: -118px -114px;
            border: 1px solid $highlight-color;
        }
    }

    input[type=checkbox] { 
        opacity: 1\9;
        margin-top: 4px\9;

        & + .txt:before { 
            visibility: hidden\9;
        }
    }
}

.radio-box.checkbox-style {
    padding: 6px 0;
    margin-bottom: 0;

    input[type=radio] {
        @extend %checkbox-radio;

        & + .txt:before {
            @extend %checkbox-radio-txt-before;
            background-position: 9999px 9999px;
            border: 1px solid #e0e0e0;
            background-color: #fff;
        }

        &:checked + .txt:before {
            background-position: -118px -114px;
            border: 1px solid $highlight-color;
        }
    }

    input[type=radio] {
        @extend %checkbox-radio;

        & + .txt:before {
            @extend %checkbox-radio-txt-before;
            background-position: 9999px 9999px;
            border: 1px solid #e0e0e0;
            background-color: #fff;
        }

        &:checked + .txt:before {
            background-position: -118px -114px;
            border: 1px solid $highlight-color;
        }
    }
}

.radio-box {
    padding: 6px 0;
    margin-bottom: 0;

    input[type=radio] {
        @extend %checkbox-radio;
         opacity: 1\9;
         margin-top: 4px\9;
        & + .txt:before {
            @extend %checkbox-radio-txt-before;
            background-position: -117px -69px;
            visibility: hidden\9;
        }
    }

    input[type=radio]:checked + .txt:before {
        background-position: -117px -92px;
       
    }
}

.dropbtns {
    .glyphicon-plus:before {
        font-size: 12px;
        margin-right: 5px;
    }

    .extend-btns {
        padding: 0;
        text-align: center;
        margin-top: -1px;
        margin-bottom: 0;
        display: none;

        .extend-item {
            list-style: none;
            height: 30px;
            border: 1px solid #436ba7;
            border-top: none;
            line-height: 30px;
            background-color: #fff;
            font-size: 12px;

            a {
                cursor: default;
                text-decoration: none;
            }

        }

    }
}


