// 底部操作栏

.operations {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 6px 20px;
    border-top: 1px solid #dedede;
    color: #666;
    z-index: 2;

    .checked-info {
        margin: 0 -20px 6px;
        padding: 0 20px 6px;
        border-bottom: 1px solid #dedede;
        font-size: 12px;

        .operate-area {
            label {
                margin: 0;
                font-weight: normal;

                .check-box {
                    margin-right: 5px;
                }
            }
        }

        .instruction {
            margin-left: 20px;

            .num {
                color: $brand-danger
            }
        }
    }

    .btn {
        border-radius: 2px;
        height: 28px;
        vertical-align: middle;
        padding: 0 5px;
        min-width: 95px;
        border: 1px solid #cacaca;
        background-color: #fff;
        outline: none;
    }

    a.btn {
        color: inherit;
        padding-top: 3px;
    }

    .item:not(:first-child) { // ie8 不支持这个选择器的
        margin: 0 5px;
        display: inline-block;
    }

    .checkall label {
        margin: 0;
        font-weight: 400;
        margin-right: 25px;
    }

    .checkall input[type=checkbox] {
        margin-right: 5px;
    }

}
