
.gallery {
    $gallery-width: 730px;
    $padding: 15px;
    $max-img-height: 450px;
    $img-item-height: 50px;

    @extend %bgcolor-alpha;

    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    z-index: 9999;
    text-align: center;

    &:before {
        display: inline-block;
        height: 100%;
        content: '';
        vertical-align: middle;
        width: 1px;
    }

    .inner {
        background-color: #fff;
        padding: $padding;
        height: auto;
        width: 75%;
        display: inline-block;
        vertical-align: middle;
        margin: 20px auto;
    }

    .nomore, 
    .loading {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .nomore {
        margin-left: -28px;
        margin-top: -10px;
    }

    .loading {
        margin-left: -8px;
        margin-top: -8px;
    }

    .ft {
        margin-top: 15px;
        text-align: center;
        @include clearfix;
        font-size: 0;
        overflow: hidden;
        position: relative;

        .imgs {
            @include inline-block(false);
            list-style: none;
            padding: 0;
            margin: 0;
            height: $img-item-height+4;

            .item {
                // padding-left: 11px;
                padding: 0 6px;
                float: left;

                img {
                    width: 70px;
                    height: $img-item-height;
                    border: 2px solid transparent;
                }

                &.z-active img {
                    border-color: #00c0ff;
                }
            }
        }

    }

    .bd {
        position: relative;
        text-align: center;
        min-width: 350px;

        .current {
            max-width: 100%;
        }

        .btn {
            position: absolute;
            top: 50%;
            margin-top: -33px;
            background: url($icon-img-url-default) no-repeat;
            height: 65px;
            width: 63px;

            &.prev {
                left: 0;
                background-position: -157px -72px;

                &:hover {
                    background-position: -157px -207px;
                }
            }

            &.next {
                right: 0;
                background-position: -156px -5px;

                &:hover {
                    background-position: -156px -140px;
                }
            }
        }
    }
}