// tab
// 
// html结构范例
// <div class="tab-panel">
//   <div class="tab-nav">
//     <ul class="tab-menu">
//         <li class="tab-menu-item z-active"><a href="">项目信息</a></li>
//         <li class="tab-menu-item"><a href="">工商信息</a></li>
//     </ul>
//   </div>
//   <div class="tab-content">
//     <div class="tab-content-item"></div>
//     <div class="tab-content-item"></div>
//   </div>
// </div>

.tab-panel {
    .tab-menu {
        list-style: none;
        border-bottom: 1px solid #d8d8d8;
        margin-bottom: 30px;
        @include clearfix;

        .tab-menu-item {
            display: inline-block;
            padding: 10px 24px;
            color: #436ba7;
            font-size: 14px;
            margin-bottom: -1px;

            a {
                text-decoration: none;
            }

            &.z-active {
                border:1px solid #d8d8d8;
                border-bottom:1px solid #fff;
                background: #fff;
                border-radius:5px 5px 0 0;

                a {
                    color: #333;
                }
                
            }
        }      
    }
}

.segment-control {
    .segment-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        border: 1px solid $gray-softer;
        border-radius: 2px;
        float: left;

        .segment-menu-item {
            float: left;

            a {
                display: block;
                color: #666;
                padding: 6px 20px;
                line-height: 1;
                text-decoration: none;
            }

            &.z-active a {
                color: #fff;
                background-color: $gray-softer;
            }
        }

        & + .tab-content {
            padding-top: 20px;
        }

        &.segment-menu-primary {
            border-color: $brand-primary;

            .segment-menu-item {
                a {
                    color: $brand-primary;
                }

                &.z-active a {
                    color: #fff;
                    background-color: $brand-primary;
                }
            }
        }
    }

    .segment-content {
        clear: left;
        padding-top: 20px;
    }
}

.tab-panel-slide {
    $background-color: #f5f5f5;
    $border-color: #d9d9d9;

    .tab-nav {
        border: 1px solid $border-color;
        border-bottom: none;
        display: table;
        table-layout: fixed;
        width: 100%;

        & > * {
            display: table-cell;
            border-left: 1px solid $border-color;
            vertical-align: middle;

            &:first-child {
                border-left: none;
            }

        }

        .inner {
            overflow: hidden;
        }

        .sup {
            color: #666;
            font-weight: bold;
        }

        .sub {
            color: #999;
            font-size: 12px;
        }

        .operate-item {
            width: 1px;
            text-align: center;
            position: relative;

            &.z-active {

                &:before{
                        content: " ";
                        width: 55px;
                        height: 3px;
                        background:#436BA7;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
            }

            &.all {
                width: 55px;
                background-color: $background-color;

                .icon {
                    background-position: -114px -125px;
                }

            }

            &.prev,
            &.next {
                width: 36px;
                color: #d9d9d9;
                font-size: 24px;

                &:hover {
                    color: #436ba7;
                }
            }

            &.all.z-active {
                background-color: #fff;
            }
        }
    }

    .tab-menu {
        @extend %clearfix;

        overflow: hidden;
        padding: 0;
        margin: 0;
        list-style: none;
        max-height: 53px;
        position: relative;

        .tab-menu-item {
            float: left;
            margin: 0;
            padding: 11px 8px;
            text-align: center;
            border-right: 1px solid $border-color;
            background-color: $background-color;
            width: 105px;
            position: relative;

            &.z-active {
                background-color: #fff;

                &:before{
                        content: " ";
                        width: 105px;
                        height: 3px;
                        background:#436BA7;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
            }
        }
    }

    .tab-content {

    }
}
