// 顶部地址导航栏和查询栏

%lookup-params-and-position-map {
    font-size: $font-size-14;
    padding: 8px 20px;
    border-bottom: 1px solid #d1d1d1;
    background-color: #f7f7f7;
}

%top-content-btn-formcontrol {
    font-size: $font-size-14;
    border-radius: 2px;
    height: 28px;
    vertical-align: middle;
    display: inline-block;
}

.position-map .btn,
.lookup-params .btn {
    @extend %top-content-btn-formcontrol;
    padding: 4px 10px;
    font-size: 12px;
    line-height: 18px;

    .glyphicon {
        font-size: 13px;
        margin-right: 5px;
        margin-top: 1px;
    }

    &.btn-default {
        @include linear-gradient($btn-linear-gradient);
        color: #777;
    }

    &.btn-success {
        background-color: #75b734;
    }

    &.btn-primary {
        background-color: #436ba7;
    }
}

.position-map {
    @extend %lookup-params-and-position-map;
    @include linear-gradient(top, #f6f6f6, #f0f0f0);
    color: $gray-softer;
    line-height: 28px;
    overflow: hidden;

    .item.current {
        color: #436ba7;
    }
}


.lookup-params {
    $width-filter-item: 127px;
    $small-width-filter-item: 95px;

    @include linear-gradient($btn-linear-gradient);
    @extend %lookup-params-and-position-map;
    background-color: #f7f7f7;

    label {
        color: #999;
        font-weight: normal;
    }

    .bootstrap-select > .dropdown-toggle {
        background: #fff;
        width: $width-filter-item;
    }

    .title {
        font-size: 18px;
        line-height: 1.6;
    }

    .item {
        margin: 3px 0;
        margin-right: 10px;
        display: inline-block;
        color: #999;
        vertical-align: middle;
        position: relative;
    }

    .item.has-suffix {
        .form-control {
            padding-right: 20px;
        }

        .suffix {
            position: absolute;
            top: 50%;
            right: 5px;
            z-index: 6;
            margin-top: -7px;
            color: #555;
            @include opacity(30);
        }
    }

    .static-txt {
        display: inline-block;
        color: #666;
        position: relative;
    }

    .btn {
        min-width: 65px;
        outline: none;
        font-size: $font-size-12;
    }

    .form-control {
        @extend %top-content-btn-formcontrol;
        font-size: $font-size-12;
        position: relative;
        color: #666;
        width: $width-filter-item;
        padding: 4px 5px;

        &.small {
            width: $small-width-filter-item;
        }

        &.large {
            width: 250px;
        }
    }

    .imitate-datetimepicker-input .form-control {
        width: 106px;
        cursor: default;

        &.small {
            width: $small-width-filter-item + 15;
        }
    }

}
