// 由于引入了bootstrap库部分功能注释，有些就不用了
// 响应式的一些helper也写在这里

.color-danger {
    color: $brand-danger;
}

.color-primary {
    color: $brand-primary;
}

.color-dim {
    color: $gray-softer;
}

.color-warning {
    color: $brand-warning;
}

.color-success {
    color: $brand-success;
}

.color-notice{
    color: $highlight-color;
}

.btn {
    &.btn-simple {
        border-radius: 2px;
        height: 28px;
        vertical-align: middle;
        padding: 0 5px;
        min-width: 95px;
        border: 1px solid #cacaca;
        background-color: #fff;
        outline: none;
    }

    &.btn-basic {
        border-radius: 2px;
        height: 28px;
        padding: 4px 10px;
        min-width: 65px;
        font-size: 12px;
        line-height: 18px;

        &.btn-primary {
            background-color: #436ba7;
        }

        &.btn-success {
            background-color: #75b734;
        }
    }
}


ul.inline {
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style: none;

    & > .item {
        float: left;
        margin: 0 10px 10px 0;
        position: relative;
    }
}

// 删掉
.list-inline {
    font-size: 0;

    .inline-item {
        font-size: $font-size-14;
        @include inline-block(false);
    }
}

.btn.btn-outline {
    background-color: transparent;
    color: #436ba7;
}

.visiable-sm {
    display: none !important;
}



