
body {
    font-size: $font-size-default;
    font-family: $font-family-default;
    background-color: #f4f4f4;
}

a {
    color: #436ba7;
}

a[href]:hover {
    text-decoration: none;
}

a.disabled {
    color: #666;
    text-decoration: none !important;
    cursor: default !important;
}

.form-control {
    @include placeholder(#bbb);

    &.form-control-error,
    &.error {
        border-color: $brand-danger;
    }
}

.datetimepicker {
    z-index: 8888;
}

.btn {
    background-color: #f6f6f6;
    border-color: #ccc;
    color: #666;    
    border-radius: 2px;
}

.btn:active,
.btn:focus {
    outline: none;
}

.btn.btn-success {
    background-color: #75b734;
    border-color: #67a22c;
    color: #fff;
}

.btn.btn-primary {
    background-color: #436ba7;
    border-color: #286090;
    color: #fff;
}


