.login-g-bd, .login-g-hd .g-bd {
    max-width: 1024px;
    margin: 0 auto;
}

/* header */
.login-g-hd {
    height: 50px;
    line-height: 47px;
    background-color: #fff;
    box-shadow: 0 1px 2px #FAFAFA;
    border-bottom: 1px solid #E7E7E7;
}

.login-g-hd .lt {
  float: left;
}

.login-g-hd .lt > span {
  display: inline-block;
  float: left;
}

.login-g-hd .lt .divider {
  height: 35px;
  margin: 8px 10px 0;
  width: 1px;
  background-color: #e2e2e2;
}

.login-g-hd .lt .sub-title {
    color: #999;
    font-size: 17px;
    margin-left: 5px;
    vertical-align: middle;
}

.login-g-hd .lt .logo {
  width: auto;
}

.login-g-hd .lt .company-logo {
  height: 30px;
}

.login-g-hd .rt {
  float: right;
}

.login-g-hd .rt .divider {
    color: #999;
    font-size: 15px;
    padding: 0;
}

/*footer*/
.login-g-ft {
    text-align: center;
    border-top: none;
    background-color: #fff;
}

/*main*/
.login-g-main {
    height: 763px;
}

.login-g-bd .banner .title {
    font-size: 48px;
    line-height: 1.5;
    color: #555;
    margin-top: 145px;
}

.login-g-bd .banner {
    height: 763px;
    position: relative;
}

.login-g-bd .banner .computer {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.login-g-bd .banner .icon-coffer {
    position: absolute;
    left: 500px;
    bottom: 30px;
}

.login-g-bd .login-area {
    position: absolute;
    right: 0;
    top: 78px;
    width: 385px
}

.login-g-bd .login-area .title {
    text-align: center;
    color: #436ba7;
    font-size: 30px;
    margin-bottom: 20px;
}

.login-form {
    background-color: #fff;
    border: 1px solid #E7E7E7;
    padding: 20px 25px;
}

.login-form .field-row {
    margin-top: 15px;
}

.login-form .input-title {
    color: #999;
    font-weight: normal;
    margin-left: 3px;
}

.login-form .field-row:first-child {
    margin-top: 0;
}

.login-form .input-group .form-control {
    border-right-width: 0;
    box-shadow: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    outline: none;
}

.login-form .input-group-addon .icon {
    background-image: none;
    border-radius: 50%;
    background-color: #c7c7c7;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-style: normal;
    color: #fff;
    cursor: default;
}

.login-form .has-error .form-control, .login-form .has-error .form-control:focus, .login-form .has-error .input-group-addon {
    border-color: #df7d7d;
}

.login-form .tip {
    background-color: #ffd1d1;
    color: #cb4e47;
    padding: 5px 15px;    /*line-height: 30px;*/
    display: none;
    margin: 0 5px;
    height: 0;
    white-space: nowrap;
    font-size: 12px;
    overflow: hidden;
}

.login-form .verfiedcode-field .tip {
    width: 173px;
}

.login-form .has-error .tip {

    /*height: auto;*/
    height: auto;
    display: block;
    border: 1px solid #DF7D7D;
    border-top: none;
}

.login-form .form-control:focus {
    border-color: #ccc;
}

.login-form .input-group-addon {
    background-color: transparent;
    padding-left: 8px;
    border-left-width: 0;
    padding-right: 8px;
}

.login-form .verfied-code {
    table-layout: fixed;
}

.login-form .verfied-code .form-control {
    border-right-width: 1px;
    width: 183px;
    border-radius: 2px;
}

.login-form .verfied-code .btn {
    border-radius: 2px;
    width: 143px;
}

.login-form .remember-pwd input[type=checkbox] {
    vertical-align: middle;
    margin-top: -1px;
}

.login-form .btn-login {
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: #436ba7;
    font-size: 18px;
}

.login-form footer {
    text-align: center;
    color: #999;
}

.login-form footer .rightnow-sign {
    color: #436ba7;
    font-size: 18px;
}
