<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>client</title>
    <script src="../js/angular.min.js"></script>
    <script src="../js/client.js"></script>
</head>
<body>

    <h1 align="center">二维码生成器</h1>
    <div ng-app="myapp" ng-controller="clientController" align="center">
        <br>
        请输入二维码内容：<input type="text" ng-model="qr.content" style="width: 40%"/>
        <button ng-click="doImage()">生成</button>
        <br>
        <img src="data:image/png;base64,{{ qrimage }}">
        <br>
        <br>
        <br>
        <a href="clientInfo.html">客户数据测试</a>
    </div>

</body>
</html>